### Important Links

1. Dataset source -> https://www1.nyc.gov/site/tlc/about/tlc-trip-record-data.page
2. Dataset -> https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2021-01.csv
3. Data dictionary -> https://www1.nyc.gov/assets/tlc/downloads/pdf/data_dictionary_trip_records_yellow.pdf

### Docker Commands
First command for runnign pg db:
`docker run -it -e POSTGRES_USER="root" -e POSTGRES_PASSWORD="root" -e POSTGRES_DB="ny_taxi" -v ~/Desktop/curr_work/de_zoomcamp/week1/docker_sql/ny_taxi_postgres_data:/var/lib/postgresql/data -p 5432:5432 postgres:13`

Command for creating docker network:
`docker network create pg-network`

Final command for running pg db:
`docker run -it -e POSTGRES_USER="root" -e POSTGRES_PASSWORD="root" -e POSTGRES_DB="ny_taxi" -v ~/Desktop/curr_work/de_zoomcamp/week1/docker_sql/ny_taxi_postgres_data:/var/lib/postgresql/data -p 5432:5432 --network=pg-network --name pg-database postgres:13`

Command for pgadmin:
`docker run -it -e PGADMIN_DEFAULT_EMAIL="admin@admin.com" -e PGADMIN_DEFAULT_PASSWORD="root" -p 8080:80 --network=pg-network --name pgadmin dpage/pgadmin`

Command for running ingest_data pipeline:

```
URL = "https://s3.amazonaws.com/nyc-tlc/trip+data/yellow_tripdata_2021-01.csv"
python ingest_data.py --user=root --password=root --host=localhost --port=5432 --db=ny_taxi --table_name=yellow_taxi_trips --url=${URL}
```

Command for running ingest_data inside docker:
`docker run -it \
   --network=pg-network \
   taxi_ingest:v001 \
        --user=root \
        --password=root \
        --host=pg-database \
        --port=5432 \
        --db=ny_taxi \
        --table_name=yellow_taxi_trips \
        --url=${URL}`

### Answers:

1. Version = 
2. terraform
3. Record counts on Jan 15 = `select count(*) from yellow_taxi_trips where date_part('day', tpep_pickup_datetime) = 15;` => 53024
4. Largest tip for each day = `select date_part('day', tpep_pickup_datetime) as pickup, max(tip_amount) 
from yellow_taxi_trips 
group by pickup
order by pickup;` => 20 Jan
5. Most popular pickup destination on Jan 14 = `SELECT 
   "PULocationID",
   COUNT("PULocationID") as pu_counts
FROM 
   yellow_taxi_trips
WHERE 
	date_part('day', tpep_pickup_datetime) = 14
GROUP BY
	"PULocationID"
ORDER BY
	pu_counts DESC;` => 236 - Manhattan Upper East Side North
6. Most Expensive Rout = `SELECT 
   "PULocationID",
   "DOLocationID",
   MAX(total_amount) as max_amount
FROM 
   yellow_taxi_trips
GROUP BY
	"PULocationID", "DOLocationID"
ORDER BY
	max_amount DESC;` => 140 and 236 (Lenox Hill East and Upper East Side North)

In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [7]:
df.head()

,VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,RatecodeID,store_and_fwd_flag,PULocationID,DOLocationID,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount,congestion_surcharge
0,1,2021-01-01 00:30:10,2021-01-01 00:36:12,1,2.10,1,N,142,43,2,8.0,3.0,0.5,0.00,0.0,0.3,11.80,2.5
1,1,2021-01-01 00:51:20,2021-01-01 00:52:19,1,0.20,1,N,238,151,2,3.0,0.5,0.5,0.00,0.0,0.3,4.30,0.0
2,1,2021-01-01 00:43:30,2021-01-01 01:11:06,1,14.70,1,N,132,165,1,42.0,0.5,0.5,8.65,0.0,0.3,51.95,0.0
3,1,2021-01-01 00:15:48,2021-01-01 00:31:01,0,10.60,1,N,138,132,1,29.0,0.5,0.5,6.05,0.0,0.3,36.35,0.0
4,2,2021-01-01 00:31:49,2021-01-01 00:48:21,1,4.94,1,N,68,33,1,16.5,0.5,0.5,4.06,0.0,0.3,24.36,2.5

In [8]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [20]:
from sqlalchemy import create_engine

engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [21]:
engine.connect()

In [11]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [22]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True,
                      chunksize=100000)

In [23]:
df = next(df_iter)

In [24]:
len(df)

100000

In [25]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [26]:
df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')

In [17]:
from time import time

In [18]:
i = 1
start = 5
end = 6

print(f'Inserted chunk {i}, which took %.3f seconds' % (end - start))

Inserted chunk 1, which took 1.000 seconds

In [19]:
i = 0
while True:
    start = time()
    
    df = next(df_iter)
    
    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    df.to_sql(name='yellow_taxi_data', con=engine, if_exists='append')
    
    end = time()
    i += 1
    print(f'Inserted chunk {i}, which took %.3f seconds' % (end - start))

Inserted chunk 1, which took 18.001 seconds
Inserted chunk 2, which took 14.674 seconds
Inserted chunk 3, which took 16.555 seconds
Inserted chunk 4, which took 15.363 seconds
Inserted chunk 5, which took 16.284 seconds
Inserted chunk 6, which took 15.832 seconds
Inserted chunk 7, which took 15.669 seconds
Inserted chunk 8, which took 17.554 seconds
Inserted chunk 9, which took 16.531 seconds
Inserted chunk 10, which took 15.400 seconds
Inserted chunk 11, which took 16.120 seconds

/opt/homebrew/Caskroom/miniforge/base/envs/de_zoomcamp/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3191: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  if await self.run_code(code, result, async_=asy):

Inserted chunk 12, which took 21.026 seconds
Inserted chunk 13, which took 10.862 seconds

StopIteration: